<!DOCTYPE html>
<html>

<head>
  <title>TdeA</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" type="text/css">
</head>

<body>
  <div>
    <img class="img-fluid" src="../assets/logoheader.jpg" alt="logo">
  </div>
  <header class="header">
    <div class="navbar">
      <ul class="nav">
        <li class="nav-item"><a href="/"><span>Inicio</span></a></li>
        <li class="nav-item"><a href="/all_courses"><span>Cursos</span></a></li>
        <li class="nav-item"><a href="/available_courses"><span>Cursos Disponibles</span></a></li>
        <li class="nav-item"><a href="create_course"><span>Crear Curso</span></a></li>
        <li class="nav-item"><a href="signed_people"><span>Inscritos</span></a></li>
      </ul>
    </div>
  </header>