<!DOCTYPE html>
<html>

<head>
  <title>TdeA</title>

  <link rel="stylesheet" href="/styles/styles.css" type="text/css">
  
</head>

<body>
  <header class="header">
    <h3>Instituto Tecnológico de Antioquia</h3>
    <h2>Educación Continua</h2>
    <div  class="navbar">
      <ul>
        <li><a href="/"><span>Inicio</span></a></li>
        <li><a href="/all_courses"><span>Cursos</span></a></li>
        <li><a href="/available_courses"><span>Cursos Disponibles</span></a></li>
        <li><a href="create_course"><span>Crear Curso</span></a></li>
        <li><a href="signed_people"><span>Inscritos</span></a></li>
      </ul>
    </div>
  </header>