
{{>header}}
    <div>
        <h1 class="error">404</h1>
        <h1>¡Ups! Parece que ha ocurrido un error</h1>
        <p>Algo malo ha ocurrido,<br> ya sea que no te podemos llevar a esa página,<br> o el fin del mundo ha llegado. </p>
    </div>
{{>footer}}
