{{!-- this is before the list of actual enrolled people --}}
{{>header}}
<div class="enrolled-students">
    <table class="table">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Opción</th>
        </thead>
        {{#each list}}
        <tbody>
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td><a href="/enrolled/{{this.id}}">Ver Inscritos</a></td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>
{{>footer}}
